/*Обнуление*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;}
:focus {outline: 0;}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {content: '';content: none;}
table {border-collapse: collapse;border-spacing: 0;}
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {-webkit-appearance: none;-moz-appearance: none;}
input[type=search] {-webkit-appearance: none;-moz-appearance: none;-webkit-box-sizing: content-box;-moz-box-sizing: content-box;box-sizing: content-box;}
textarea {overflow: auto;vertical-align: top;resize: vertical;}
audio, canvas, video {display: inline-block;*display: inline;*zoom: 1;max-width: 100%;}
audio:not([controls]) {display: none;height: 0;}
[hidden] {display: none;}
html {font-size: 100%; /* 1 */-webkit-text-size-adjust: 100%; /* 2 */-ms-text-size-adjust: 100%; /* 2 */}
a:focus {outline: thin dotted;}
a:active, a:hover {outline: 0;}
img {border: 0; /* 1 */-ms-interpolation-mode: bicubic; /* 2 */}
figure {margin: 0;}
form {margin: 0;}
fieldset {border: 1px solid #c0c0c0;margin: 0 2px;padding: 0.35em 0.625em 0.75em;}
legend {border: 0; /* 1 */padding: 0;white-space: normal; /* 2 */*margin-left: -7px; /* 3 */}
button, input, select, textarea {font-size: 100%; /* 1 */margin: 0; /* 2 */vertical-align: baseline; /* 3 */*vertical-align: middle; /* 3 */}
button, input {line-height: normal;}
button, select {text-transform: none;}
button, html input[type="button"], /* 1 */input[type="reset"], input[type="submit"] {-webkit-appearance: button; /* 2 */cursor: pointer; /* 3 */*overflow: visible;  /* 4 */}
button[disabled], html input[disabled] {cursor: default;}
input[type="checkbox"], input[type="radio"] {box-sizing: border-box; /* 1 */padding: 0; /* 2 */*height: 13px; /* 3 */*width: 13px; /* 3 */}
input[type="search"] {-webkit-appearance: textfield; /* 1 */-moz-box-sizing: content-box;-webkit-box-sizing: content-box; /* 2 */box-sizing: content-box;}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {-webkit-appearance: none;}
button::-moz-focus-inner, input::-moz-focus-inner {border: 0;padding: 0;}  textarea {overflow: auto; /* 1 */vertical-align: top; /* 2 */}
table {border-collapse: collapse;border-spacing: 0;}
html, button, input, select, textarea {color: #222;}
::-moz-selection {background: #b3d4fc;text-shadow: none;}
::selection {background: #b3d4fc;text-shadow: none;}
img {vertical-align: middle;}
fieldset {border: 0;margin: 0;padding: 0;}
textarea {resize: vertical;}
.chromeframe {margin: 0.2em 0;background: #ccc;color: #000;padding: 0.2em 0;}


html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: Montserrat, serif;
    font-style: normal;
}
img {
    max-width: 100%;
    height: auto;
}
/*Стили*/
.wrapper {
    max-width: 1060px;
    margin: 0 auto;
    padding: 0 15px;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: .02s linear;
    padding-bottom: 20px;
    z-index: 1000;
}
.header_active {
    background-color: #323232;
}
.header_wrapper {
    display: flex;
    flex-wrap: wrap;
    /*align-items: flex-end;*/
    justify-content: space-between;
    padding-top: 40px;
}
.header_list {
    display: flex;
    flex-wrap: wrap;
    /*margin-left: 447px;*/
}
.header_item {
    margin-right: 40px;
}
.header_item:last-child {
    margin-right: 0;
}

.header_link {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    color: #fff;
}
.header_link:hover, .header_link:focus, .header_link:active {
    opacity: .65;
}

.header_burger {
    display: none;
    width: 40px;
    height: 28px;
    position: relative;
}
.burger_line {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
    position: absolute;
}
.burger_line_first {
    top: 50%;
}
.burger_line_second {
    top: 0;
    transform: translateY(50%);
}
.burger_line_third {
    bottom: 150%;
    /*transform: translateY(-2050%);*/
}
.intro {
    min-height: 100vh;
    background-color: #cccccc;
    background-size: cover ;
    padding-top: 319px;
    padding-bottom: 335px;
    color: #fff;
    text-align: center;
    background-image: url("Rectangle.svg");
    margin-bottom: 110px;
}
.intro_subtitle{
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;

}
.intro_title {
    padding-top: 20px;
    font-weight: 800;
    font-size: 48px;
    line-height: 64px;
    max-width: 829px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.submit {
    text-align: center;
    padding: 15px 36px;
    background: #4985FF;
    border-radius: 30px;
    color: #fff;
    margin: 0 auto;
}
.benefits {
    margin-bottom: 120px;
}

.benefits_title {
    font-weight: bold;
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    color: #323232;
    max-width: 739px;
    margin: 0 auto;
    margin-bottom: 50px;
}
.benefits_subtitle {
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    width: 730px;
    color: #999999;
    margin: 0 auto;
    margin-bottom: 80px;
}
.benefits_cards {
    color: black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 27px;

}
.benefits_card {
    width: 353px;
    display: inline;
    margin-bottom: 55px;
}

        .benefits_card_external {
         position: absolute;
        }
        .benefits_card_internal {
            margin: 10px 10px;
            position: absolute;

        }
        .benefits_card_thumb {
            position: absolute;
            margin: 35px 35px 35px 35px;
        }

.benefits_card_info {
    margin-left: 128px;
}

.benefits_card_title {
    margin-top: 46px;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
}
.benefits_card_subtitle {
    margin-top: 12px;
    width: 222px;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #999999;
}
.benefits_button {
    margin-left: 455px;

}

.stat {
    margin-bottom: 40px;
    background-color: #F6F6F8;;
}
.stat_card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 121px;

}

.stat_card_title {
    font-weight: bold;
    font-size: 36px;
    line-height: 53px;
    margin-top: 152px;
    margin-bottom: 40px;

}

.stat_card_subtitle {
    font-size: 16px;
    line-height: 25px;
    color: #999999;
    margin-bottom: 30px;
    width: 489px;
}
.stat_card_thumb {
    margin-top: 100px;
    margin-bottom: 90px;

}
.stat_card_link {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-decoration-line: underline;
    color: #4985FF;
}
.stat_line {
    margin-bottom: 70px;
}
.proj {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;

}
.proj_card {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    width: 104px;
}
.proj_number {
    font-weight: normal;
    font-size: 36px;
    line-height: 53px;
}
.proj_title {
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    color: #999999;
    margin-bottom: 70px;
}


.directions {
    background: linear-gradient(90deg, #504DC2 20.44%, #5F12D0 80.91%), #C4C4C4;
}


.directions_wrapper {
    max-width: 1060px;
    margin: 0 auto;
    padding: 0 15px;
    position: relative;
}

.directions_header {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    padding-top: 100px;
    padding-bottom: 302px;
}

.directions_title {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 53px;
    color: #FFFFFF;
    width: 540px;

}

.directions_content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    position: absolute;
    top: 282px;
    left: 0;
    transform: translateY(48px);

}
.directions_card {
margin-bottom: 85px;
}
.directions_pic {
    margin-bottom: 30px;
}
.directions_content_title {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 30px;
}
.directions_content_subtitle {
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    color: #999999;
    margin-bottom: 30px;
}

.directions_content_link {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-decoration-line: underline;
    color: #4985FF;
}

.directions_line {
    /*margin-top: 700px;*/
    background-color: black;
    border: 1px solid #E0E0E0;
}
.projects {
    margin-top: 500px;
}
.projects_header_title {
    font-weight: bold;
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    margin-bottom: 50px;
}

.projects_header_subtitle{
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    color: #999999;
    margin-bottom: 70px;
}

.projects_cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 30px;
    margin-bottom: 50px;
}
.projects_button {
    margin-left: 455px;
    margin-bottom: 130px;
}

.video {
    background: url("video1.svg") no-repeat;
    /*padding-bottom: 420px;*/
}
.video_header {
    color: white;
}
.video_header_title {
    font-weight: bold;
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    padding-top: 70px;
    margin-bottom: 30px;
}
.video_header_subtitle {
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    margin-bottom: 70px;
}

.video_wrapper {
    max-width: 100%;
    margin: 0 auto;
    position: relative;
}

.video_item {
    padding-top: 56.25%;
}
.video_elem {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-bottom: 85px;
}
.video_line {
    border: 1px solid #E0E0E0;
    margin-bottom: 85px;
}

.form_header_title {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #000000;
    margin-bottom: 20px;
}

.form_header_subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    color: #999999;
    margin-bottom: 30px;
}

.search-form_wrap {
    /*background: #FFFFFF;*/
    /*border: 1px solid #F2F2F2;*/
    /*box-sizing: border-box;*/
    /*box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);*/
    /*border-radius: 30px;*/
    position: relative;
}
.search-form_field {
    position: absolute;
    width: 489px;
    height: 45px;
    left: 240px;
    /*top: 5050px;*/
    padding: 15px 149px 13px 33px;
    background: #FFFFFF;
    border: 1px solid #F2F2F2;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(111, 111, 111, 0.25);
    border-radius: 30px;
}
.search-form_submit {
    position: absolute;
    width: 190px;
    height: 45px;
    left: 539px;
    /*top: 5050px;*/
    padding: 13px 36px 15px 26px;
    background: #4985FF;
    /*box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);*/
    /*border-radius: 0px 30px 30px 0px;*/
    /*background: #FFFFFF;*/
    border: 1px solid #F2F2F2;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(111, 111, 111, 0.25);
    border-radius: 30px;
    margin-bottom: 135px;
}
.search-form_title {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
}
.form_title {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    text-align: center;
    color: #999999;
    margin-bottom: 85px;
}

.footer {
    background: #F6F6F8;
}
.footer_wrap {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 40px;
}
.footer_wrap:first-child {
    grid-column-gap: 30px;
}
.footer_header {
    padding-top: 70px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}

footer li {
    display: flex;
    padding-top: 30px;
    color: #999999;
}

footer li:first-child {
    padding-top: 35px;
}
footer li:last-child {
    padding-bottom: 70px;
}
.footer-pic {
    padding-right: 15px;
}
.footer_subtitle {

    padding-bottom: 30px;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    text-align: center;
    color: #999999;
}
.footer_link {
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #999999;
}

@media screen and (max-width: 766px) {
    .header_burger {
        display: block;
        transition: .2s;
    }
    .header_nav {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0);

        color: #fff;
        z-index: 10;
        padding: 75px;
        transform: translateX(100%);
        transition: .2s all linear;
    }
    .header_nav_active {
        transform: translateX(0);
    }

    .header_item {
        width: 100%;
        margin-right: 0;
        margin-bottom: 30px;

    }

    .header_item:last-child {
        margin-bottom: 0 ;
    }

    .header_link {
        font-size: 42px;
        line-height: 48px;

    }

    .header_nav-close {
        width: 40px;
        height: 40px;
        position: absolute;
        top: 20px;
        right: 450px;
        z-index: 11;
    }

    .header_nav-close-line {
        display: block;
        width: 100%;
        height: 2px;
        background-color: #fff;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    .header_nav-close-line:first-child {
        transform: translateY(-50%) rotate(45deg);
    }

    .header_nav-close-line:last-child {
        transform: translateY(-50%) rotate(-45deg);
    }


}

@media screen and (max-width: 1024px) {
    .benefits_cards {
        color: black;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-content: center;
        justify-content: center;


    }
}




